body {
    background-color:darkslategray;
}

body h1 {
    margin: 0px 0px 0px 450px;
    text-decoration: underline;
    color:darkolivegreen;
}

.second-header, #intoMorse {
    margin: 20px 0px 0px 525px;
    border-radius: 10px;
    width: 15%;
}

.first-header, #regularText {
    margin: 20px 0px 0px 525px;
    border-radius: 10px;
    width: 15%;
}

textarea {
    width: 100%;
    min-height: 200px;
}